* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: serif;
  background-color: #f0f0f0;
  color: #333;
}
html {
  font-size: 62.5%;
}
button {
  cursor: pointer;
  font-family: inherit;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.nav-link-ul {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
}
.nav-link-ul a:link,
.nav-link-ul a:visited {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}
.grid-2rows {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 6rem;
  padding: 9.6rem 3rem;
}
.container-h1 {
  text-align: center;
  margin-bottom: 4rem;
  max-width: 60rem;
  margin: 0 auto;
}
.container-h1 h1 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}
.container-p {
  text-align: center;
  max-width: 80rem;
  margin: 0 auto 6rem auto;
}
.container-p p {
  font-size: 1.8rem;
  color: #666;
  line-height: 1;
}

.hero-img {
  width: 100%;
  height: 80%;
}
.black-btn {
  display: block;
  padding: 1.2rem 2.4rem;
  background: #000;
  color: #fff;
  border: none;
  margin: 0 auto;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  transition: all 1s ease-in-out;
}
.black-btn:hover {
  background: #4e4e4e;
}
.pink-btn {
  display: block;
  padding: 1.2rem 2.4rem;
  background: linear-gradient(45deg, #f102d9, #bf02ac);
  color: #fff;
  border: none;
  margin: 0 auto;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  transition: all 1s ease-in-out;
}
.pink-btn:hover {
  background: linear-gradient(45deg, #bf02ac, #bf02ac);
}
.hero-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px dashed #666;
  padding: 1.2rem 3rem;
}
.hero-info span {
  font-size: 1.8rem;
  color: #666;
}

/* ///// testimonials styling////// */
/* .quotation {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 10rem;
  font-weight: 700;
  color: #666;
} */
.testimonials {
  padding: 6rem;
}
.testimonials-container {
  width: 60rem;
  margin: 0 auto;
  padding: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.8s ease-in-out;
  position: relative;
  border-radius: 12px;
  display: flex;
}

.hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.testimonials-container p {
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.testimonials-container img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: slide 0.5s ease-in-out;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.testimonial--hidden {
  display: none;
}
.testimonial p {
  text-align: center;
}
.author-info {
  display: flex;
  align-items: center;
}
.author-info span {
  display: flex;
  flex-direction: column;
}
.author-name {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.author-position {
  font-size: 1.2rem;
  color: #666;
}
.indicators {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
}
.indicators button {
  width: 0.8rem;
  height: 0.8rem;
  background: #000;
  border-radius: 50%;
}
/* ////////How it works section////// */
.section-how-it-works {
  padding-top: 20rem;
  padding-bottom: 10rem;
}
.container-h1 h2 {
  color: #ff6f00;
  font-size: 1.8rem;
  margin-bottom: 2.8rem;
}
.grid-3-cols {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9.6rem;
}
.stage-item {
  text-align: center;
  padding: 0 2rem;
  width: 100%;
  border: 1px dashed #666;
}
.stage-item span {
  padding: 1rem 1.4rem;
  font-size: 1.8rem;
  background-color: #666;
  color: #000;
  border-radius: 12px;
  margin-top: -20px;
  margin-bottom: 3rem;
}
.stage-item h4 {
  display: block;
  font-size: 2.4rem;
  margin-top: 4rem;
}
.stage-item p {
  font-size: 1.6rem;
  color: #666;
  line-height: 1.5;
  margin-top: 2rem;
}
/* ////section the challenge//// */
.the-challenge {
  background-color: #000;
  padding: 5rem 0;
}
.the-challenge .container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}
.title {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
.red-line {
  background: #f3016e;
  width: 0.3rem;
  height: 1.8rem;
}
.title h2 {
  font-size: 1.8rem;
  color: #f3016e;
}
.the-challenge h1 {
  color: #d2d1d1;
  font-size: 4rem;
  width: 65rem;
  line-height: 1;
  margin-bottom: 5rem;
  font-weight: 500;
}
.challenge-list {
  list-style: none;
}
.challenge div span {
  display: flex;
  gap: 1rem;
  align-items: center !important;
}
.challenge div span h3,
.time-revenue h3 {
  color: #d2d1d1;
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.challenge div p,
.time-revenue p {
  font-size: 1.8rem;
  color: #a4a4a4;
  margin-bottom: 3rem;
  width: 50rem;
}
.challenge span span i {
  color: #000;
  background: #f3016e;
  padding: 0.4rem;
  font-size: 1.8rem;
  border-radius: 50%;
}
